body
{
background-color:floralwhite;
background-image:linear-gradient(to right,pink,white,pink,white)


}
header
{
  font-size: 20px;
  display: flex;
  background-image:linear-gradient(to right,pink,lightblue,pink);
}
header h1
{
  font-size: 40px;
  border: 3px solid pink;
  border-radius: 10px;
  box-shadow: 4px 4px 4px white;
  margin-bottom: 10px;
}
nav
{
  background-color:white;
  display: flex;
  justify-content: right;
  margin-left:60%;
  border-radius: 10px;
  
}
nav a
{
  justify-content: space-between;
  margin: 5px;
  
}
h1
{
  font-size: 30px;
  margin: 0%;
  text-align: left;

}
#subtitle
{
  font-family: fantasy;
   color:blueviolet;
  font-size: 30px;
  align-self: center;
  margin-left: 500px;
  background-color: aliceblue;
  opacity: 60%;
}
h2
{
  text-align: center;
  font-size:50px;
  color:blueviolet;
  padding-bottom: 10px;
}

.container
{
  display:flex;
  margin: 10px;
  
}
#babuji
{
 width:200px;
 height:200px;
 
}
.corner
{
background-image: linear-gradient(to right,white,pink,white);
color:blueviolet;
text-align: left;
width:150px;
height: 40px;
}
.aside
{
  font-size: 30px;
  font-family: fantasy;
  border-right: 5px solid black;
  padding-right: 10px;
  padding-top: 20px;
  width: 200px;
}

.content
{
background-image: linear-gradient(to right,pink,white,pink,white,pink);
text-align: center;
font:20px;
margin-left: 22px;
width:1500px;
flex-direction: column;
flex-wrap: wrap;
}

.boxes
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:1000px;

}
#background-img
{
  background-image: url("/Users/yamini/Desktop/code/portfolio/pink.png");
  height:200px;
  width:1500px;
  background-position: center;
  display: flex;
  margin:0;
}
#background-img:hover
{
  box-shadow: 5px 5px 6px black;
}
#my-image
{
  width:100%;
}
img
{
  margin:2px;
}
h1:hover
{
  box-shadow:4px 4px 4px black;
}
a:hover
{
  background-color:pink;
  box-shadow: 5px 5px 5px black;
}
.corner:hover
{
  box-shadow: 5px 5px 5px black;
}

#work-div
{
  height: 500px;
  background-image: url("./myimage.jpg");
  background-position: center;
  display: flex;
}

.text-left
{
align-self: flex-end;
}
.box-1
{
  flex-wrap: wrap;
  margin:5px;
  display:flex;
  background-image: linear-gradient(to right,blue,black);
  width:450px;
  height:200px;
  border: 2px solid black;
  
}
.footer
{
 display: flex;
 justify-content: space-around;
 flex-direction: row;
}